body{
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    display: flex;
    font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

hr {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0px;
    margin: 0px;
    width: 100vw;
}

.right-row-pane {
    flex-direction: row;
    flex-grow: 1;
    margin-left: 109px;
}

.content-pane {
    padding: 24px;
}

.top-container {
    padding: 16px;
    padding-left: 4px;
}

.top-text {
    color: #d12e2e;
    margin-left: 10px;
    font-size: 20px;
}

.course-nav-menu-btn{
    color: #d12e2e;
    background-color: white;
    border: none;
    margin-right: 12px;
}

.gen-nav{
    list-style-type: none;
    color: #d12e2e;
    max-width: 200px;
    min-width: 190px;
}

ul.gen-nav .list-group-item{
    padding-left: 4px;
    border: none;
    color: #d12e2e;
    border-left: none;
    background-color: white;
}

ul.gen-nav .list-group-item:hover{
    border: none;
    color: #d12e2e;
    background-color: white;
    text-decoration: underline;
}

ul.gen-nav .list-group-item:active, ul.gen-nav .active{
    color: black;
    background-color: white;
    border: none;
    border-left: 2px solid black;
    text-decoration: solid;
}

.neu-logo{
    padding: 15px;
}

.red_link:link, .red_link:visited, .red_link:hover {
    justify-content: center;
    text-decoration: none; 
    color: #d12e2e;
}

.white_link:link, .white_link:visited, .white_link:hover{
    justify-content: center;
    text-decoration: none; 
    color: white;
}

.red_link:active {
    color: #d12e2e;
}

.wd-kanbas-nav {
    background-color: black;
    color: white;
    width: 84px;
    max-width: 85px;
    min-width: 75px;
    border: none;
    position: fixed;
    height: 100vh;
}

.menu_item {
    color: #d12e2e;
    width: 100%;
    text-align: center;
}

.menu_item i{
    color: #d12e2e;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.menu_item a{
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
}

.account_icon i {
    color: white;
    padding-top: 15px;
}

.account_icon i.grey {
    color: grey;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 12px;
}

.account_icon {
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.active {
    background-color: white;
    color: #d12e2e;
}

.center {
    display: flex;
    justify-content: center;
    justify-self: center;
}