.multi-collapse{
    border-left: 3px solid green;
}

label.rounded-circle {
    height: 22px;
    width: 22px;
}

.wd-course-status button{
    text-align: left;
}

.wd-small-canvas-nav-toggle{
    height: 100vh;
    width: 100vh;
}

.wd-small-kanbas-nav-toggle{
    height: 100vh;
    width: 100vh;
}